@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;  
}

@layer base {  
  /* light  {
    --background: 189 0% 95%;
    --foreground: 189 0% 0%;
    --card: 189 0% 90%;
    --card-foreground: 189 0% 10%;
    --popover: 189 0% 95%;
    --popover-foreground: 189 95% 0%;
    --primary: 189 91.4% 72.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 189 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 151 10% 85%;
    --muted-foreground: 189 0% 35%;
    --accent: 151 10% 80%;
    --accent-foreground: 189 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 189 0% 90%;
    --border: 189 20% 50%;
    --input: 189 20% 18%;
    --ring: 189 91.4% 72.5%;
    --radius: 0.5rem;
  } */
  :root  {
    --background: 189 10% 5%;
    --foreground: 189 0% 90%;
    --card: 189 0% 0%;
    --card-foreground: 189 0% 90%;
    --popover: 189 10% 5%;
    --popover-foreground: 189 0% 90%;
    --primary: 189 91.4% 72.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 189 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 151 10% 15%;
    --muted-foreground: 189 0% 60%;
    --accent: 151 10% 15%;
    --accent-foreground: 189 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 189 0% 90%;
    --border: 189 20% 18%;
    --input: 189 20% 18%;
    --ring: 189 91.4% 72.5%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}